.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container a {
  text-decoration: none;
  color:#ffffff;
  font-size: 25px;
  margin: 30px;
}

.container a:hover {
  background-color: #ffffff;
  color: rgb(238, 48, 48);
  padding: 5px;
  border-radius: 5px;
}

.container h2 {
  color: #fff;
}

.text-color {
  color: #ffffff;
  font-size: 26px;
}

.texto {
  max-width: 650px;
  margin: 30px auto;
  padding: 10px;
}

.container img {
  width: 200px;
  height: 200px;
  border-radius: 200px;
  margin: 0 30px;
}