<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Plugando Vuejs</title>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">
    <section>
      <h1>{{ text }}</h1>
      <button @click="showName('')">Botão</button>
      
      <div v-for="user in users"  @click="showName(user)">
       <h2> {{ user }}</h2>
      </div>

      <div v-for="people in peoples"  @click="showName(people.name)">
        <h3>{{ people.name }}</h3>
      </div>
    </div>
    
    </section>
  
  <script>
    var app = Vue.createApp({
      data() {
        return {
          text: 'Bem Vindo (a) ',
          users: ['Marcelo', 'Cilene', 'Julia'],
          peoples: [{name: 'Souza'}, {name: 'Pereira'}, {name: 'francisco'}]
        }
      },
      methods: {
        showName(name) {
          alert(this.text + name)
        }
      },
})

    var vm = app.mount('#app')
  </script>

  <style>

    section {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }

    h1 {
      text-align: center;
      font-size: 2.5rem;
    }

    button {
      color:#ffffff;
      background-color: brown;
      border: none;
      font-size: 20px;
      border-radius: 5px;
      padding: 8px;
    }

  </style>
</body>
</html>