.TabelaProdutos {
  margin: 0 auto;
}

.TabelaProdutos th {
  background-color: #3a26eb;
  color:#fff
}

.TabelaProdutos .Par {
  background-color: #d3d3d3;
}

.TabelaProdutos .Impar {
  background-color: #f0f0f0;
}

.TabelaProdutos td {
  padding: 5px 15px;
}
