.promotion-form__group {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.938rem;
}

.promotion-form__group label {
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: #555;
}

.promotion-form__group input {
  border: 1px solid #aaaaaa;
  border-radius: 8px;
  background-color: #fff;
  height: 2.25rem;
  padding: 0 0.625rem;
}