.container {
  display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 margin-top: 60px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 650px;
  background-color: #fff;
}

.input {
  margin-top: 30px;
  width: 650px;
  margin: 20px auto;
}

button {
  margin-top: 15px;
}