* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --white-color: #fff;
  --primary-color: #00856f;
  --headline: #212529;
  --gray-paragraph: #495057;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

header {
  width: 37.5rem;
  margin: 0 auto;
  margin-top: 4rem;
}

.hero-section h4 {
  font-size: 1.4rem;
  color: var(--primary-color);
}

.hero-section h1 {
  font-size: 3.4rem;
  color: var(--headline);
  
  margin-top: 1.6rem;
}

.hero-section p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--gray-paragraph);

  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.hero-section button {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;

  margin-bottom: 6rem;
  border: none;
  border-radius: 4rem;

  height: 6.2rem;
  width: 26.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  margin-left: auto;
  margin-right: auto;
}

.hero-section button:hover {
  opacity: 0.8;
}

.hero-section button:active {
  opacity: 0.5;
}
