* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --white-color: #fff;
  --headline: #212529;
  --gray-paragraph: #495057;
  --brand-beige: #fffaf1
  --brand-light: #dce9e3;

  --color-purple: #bb57ac;
  --color-blue: #38adc4;
  --color-black: #000;
  --color-yellow: #ece18c;
  --color-blue-white: #BDFEFF;

  --nav-height: 7.2rem;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.6rem;
  text-align: center;
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem ;
}

header {
  margin-top: calc(4.1rem + var(--nav-height));
}

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .wrapper {
display: flex;
align-items: center;
justify-content: space-between;
}

nav.scroll {
  background-color: var(--color-purple);
  width: 100vw;
}

nav.scroll svg:nth-child(1) path {
  fill: #fff;
}

nav.scroll svg:nth-child(2) path {
  stroke: #fff;
}

header::before {
  content: "";
  width: 100vw;
  height: calc(108rem + var(--nav-height));
  background-color: var(--color-blue-white);
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-section h4 {
  font-size: 1.4rem;
  color: var(--color-purple);
}

.hero-section h1 {
  font-size: 3.4rem;
  color: var(--headline);

  margin-top: 1.6rem;
}

.hero-section p {
  font-size: 1.8rem;
  line-height: 150%;
  color: var(--gray-paragraph);

  margin-top: 2.4rem;
  margin-bottom: 3.2rem;
}

.hero-section button {
  background-color: var(--color-purple);
  color: var(--white-color);
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1.8rem;
  text-transform: uppercase;

  margin-bottom: 6rem;
  border: none;
  border-radius: 4rem;

  height: 6.2rem;
  width: 26.3rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;

  margin-left: auto;
  margin-right: auto;
}

.hero-section button:hover {
  opacity: 0.8;
}

.hero-section button:active {
  opacity: 0.5;
}

.hero-section img {
  width: 26.4rem;
  height: 34.2rem;

  display: block;
  margin-inline: auto;
  object-position: 0 3.9rem;
}

.stats {
  width: 32.7rem;
  padding-block: 4rem;
  margin-inline: auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 6rem;

  border: 1px solid var(--brand-light);
  border-radius: .6rem;
  background-color: var(--color-yellow);
}

.stat h3 {
  font-size: 4.8rem;
  line-height: 130%;
  color: var(--headline);

  margin-bottom: 0.4rem;
}

.stat p {
  margin: 0;
  line-height: 150%;

  color: var(--color-purple);
}
