* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #e5e5e5;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

.img-yoga {
  display: block;
  margin: 195px auto 122px auto;
}

input {
  display: block;
  width: 321px;
  height: 46px;
  margin: 0 auto;
  padding-left: 19px;
  background: #f7f7f7;
  border: none;
  box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
  border-radius: 10px;
}

input::placeholder {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #969696;
}

.input-password {
  margin-top: 21px;
}

.forgot-password {
  display: block;
  margin: 35px 30px 38px 0;
  text-align: end;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}

#button {
  display: block;
  margin: 0 auto;
  background: #323232;
  box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
  border-radius: 10px;
  width: 135px;
  height: 46px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.link-sign-up {
  display: block;
  text-align: center;
  font-size: 15px;
  line-height: 18px;
  color: #969696;
  margin-top: 21px;
  margin-bottom: 62px;
}

strong {
  color: #323232;
}

.or-paragraph {
  display: block;
  text-align: center;
  margin-top: 62px;
  margin-bottom: 18.5px;
  font-weight: 900;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
}

.container-img {
  display: block;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 80px;
  margin: 18px auto 80px auto;
}

.img-link-dots {
  margin: 0 16px;
}

.yoga-image {
  display: block;
  text-align: center;
  margin: 142px auto 104px auto;
}

.yoga-circles {
  margin: 55px 0;
  text-align: center;
}

.paragraph-yoga {
  text-align: center;
  margin: 40px 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 400;
  color: #000;
}

.button-yoga {
  display: block;
  margin: 40px auto 121px auto;
  width: 173px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  background: #323232;
  box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
  border-radius: 10px;
  color: #ffffff;
}

@media (min-width: 760px) {
  .container, .app {
    width: 414px;
    height: 896px;
    background-color: #ffffff;
    position: relative;
    margin: 0 auto;
    top: 30px;
    border: 1px solid transparent;
    box-shadow: -4px 4px 18px rgb(0 0 0 / 9%);
  }

  .content {
    width: 100%;
    height: 81%;
  }
}
